.row-fluid
    .span9
        %h1.light The magic 3 lines of code
        %ol
            %li
                %p Add following line to your config/application.rb
                %pre config.exceptions_app= self.routes
            %li
                %p Add these lines to your config/route.rb
                %pre= "match '/404', to: 'application#not_found', via: :all\nmatch '/500', to: 'application#internal_error', via: :all"
    .span3
        %h1.light Ohh - Samples
        %p Here we have two prepared samples to raise errors:
        .btn-group
            .btn= link_to "Not Found", '/does_not_exist'
            .btn= link_to "Internal Error", '/bam'
